@page "/demo"
@inherits JSDemoModel

<h1>JavaScript Interop Demo</h1>

<hr />

<button class="btn btn-primary" @onclick="CallJSMethod">Call JS Method</button>
<button class="btn btn-primary" @onclick="CallCSMethod">Call C# Method</button>

<br />
<p id="demop"></p>
<br />
<p>@Message</p>